#main-footer {
    background-color: var(--background-primary-color);
    color: #fff;
}

#main-footer .main-content {
    padding: 40px 64px;
    display: flex;
    justify-content: space-between;
}

#main-footer .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#main-footer .left-content h1 {
    font-size: 1.5rem;
    font-weight: var(--title-weight);
}

#main-footer .left-content h4 {
    font-size: 1rem;
    font-weight: var(--text-weight);
    color: rgba(255, 255, 255, .55);
}

#main-footer .right-content {
    display: flex;
    gap: 24px;
}

#main-footer .right-content h2 {
    font-size: 1rem;
    font-weight: var(--text-secondary-weight);
    margin-bottom: 16px;
}

#main-footer .right-content li {
    list-style: none;
    margin-bottom: 8px;
    display: flex;
    gap: 6px;
    align-items: center;
}

#main-footer .right-content img {
    width: 16px;
    height: 16px;
}

#main-footer .right-content a {
    color: rgba(255, 255, 255, .55);
    font-size: 1rem;
    text-decoration: none;
    font-weight: var(--text-weight);
    transition: color 0.3s ease;
    margin-right: 8px;
}

#main-footer .right-content a:hover {
    color: #fff;
}

#main-footer .copyright {
    padding-bottom: 24px;
    text-align: center;
    margin-top: 24px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, .55);
}