.main-header {
    width: 100%;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    padding: 27px 14px;
    position: relative;
}

.main-header h1 {
    font-size: 1.125rem;
    font-weight: var(--title-secondary-weight);
}

.main-header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-header .header-logo img {
    width: 45px;
    border-radius: 50%;
}

.main-header .header-menu, .main-header .header-menu ul {
    display: flex;
    flex-direction: column;
}

.main-header input[type="checkbox"] {
    display: none;
}

.main-header label img {
    width: 38px;
}

 .main-header .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-primary-color);
}

input[type="checkbox"]:checked ~ .header-menu {
    display: block;
    
}

.main-header .header-menu nav ul li {
    font-size: 1rem;
    opacity: 55%;
    margin-bottom: 12px;
}

