.hero #hero-img {
    background: url('../img/solar-system.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 660px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}


.hero #hero-img h1 {
    font-size: 6rem;
    font-weight: var(--title-weight);
}

.hero #hero-img h3 {
    font-size: 2.5rem;
    font-weight: var(--text-weight);
    opacity: 75%;
}

.hero #hero-img h1, .hero #hero-img h3 {
    text-shadow: 2px 2px #6200FF99;
}


.hero #hero-img .button {
    width: 230px;
    height: 64px;
    line-height: 64px;
    font-size: 1.5rem;
    margin: 0 auto;
}