.pre-footer {
  margin-bottom: 0;
}


.pre-footer .pre-footer-img {
  background: url('../img/pre-footer.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.pre-footer .pre-footer-img h1 {
  font-size: 4rem;
  font-weight: var(--title-weight);
  margin-bottom: 24px; 
}

.pre-footer .pre-footer-img h3 {
  font-size: 1.5rem;
  font-weight: var(--text-weight);
  margin-bottom: 64px; 
}

.pre-footer .pre-footer-img h1 {
  text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.pre-footer .pre-footer-img h3 {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.pre-footer .pre-footer-img .button {
  width: 230px;
  height: 64px;
  line-height: 64px;
  font-size: 1.5rem;
}