.topics {
    text-align: center;
}

.topics h1 {
    font-size: 3rem;
    font-weight: var(--title-weight);
    text-shadow: 0px 0px 14px var(--background-secondary-color);
    margin-bottom: 50px;
    padding: 0 20px;
}
/* 
.topics ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
} */

.topics .topic-card-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: auto; 
    flex-wrap: nowrap; 

    gap: 20px;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
}



.topics ul li #pesquisa {
    height: 46px;
    width: 190px;
    box-sizing: border-box;
    padding: 16px;
    color: white;
    font-size: 1.25rem;

    background: rgba(74, 39, 200, 0.1);
    border-radius: 16px;
    box-shadow: inset -3px -6px 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid #393742;
    border-radius: 10px;
}

.topics ul li #pesquisa::placeholder {
    text-align: center;
    font-weight: var(--title-weight);
}

.topics ul .topic-option button {
    height: 46px;
    box-sizing: border-box;
    color: white;
    width: 160px;
    font-size: 1.25rem;
    font-weight: var(--title-weight);
    background: rgba(74, 39, 200, 0.1);
    border-radius: 16px;
    box-shadow: inset -3px -6px 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid #393742;
    border-radius: 35px;
}

.topics ul .topic-option button span {
    margin-right: 5px;
}

.topics ul .active button {
    background-color: var(--background-secondary-color);
}

/*CARD DOS TOPICOS*/

.topics-cards-list {
    text-align: left;
    width: 500px;
    height: 450px;
    position: relative;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.topics-cards-list .topic-card .button {
    width: 180px;
    margin: auto;
    margin-top: 24px;
}




.topics-cards-list .topic-card article {
    background: rgba(45, 27, 72, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(45, 27, 72, 0.39);

    padding: 25px 34px;
    position: absolute;
    bottom: 0;
}


.topics-cards-list li {
    background: url('../img/mercury.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}






@media screen and (max-width: 1024px) {
    .topics h1 {
        font-size: 2.7rem;
    }

    .topics .topic-card-menu {
        justify-content: flex-start;   
        margin: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .topics h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    .topics h1 {
        font-size: 2rem;
    }
}